.container {
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cardStyle {
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 0px rgba(2, 2, 2, 0.05);
  overflow: hidden;
  border-radius: 3px
}

.name-card .current-title{
  margin-top: 10px;
}

.appBar {
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  border-bottom: 1px solid #e9ebed;
}

.navBar {
  float: right;
  vertical-align: middle;
  margin-top: 3px;
  margin-right: 30px;
}

.appBarButton {
  display: inline-block;
  position: relative;
  marginLeft: 20px;
  marginRight: 0px;
  cursor: pointer
}

.appBarTitle {
  font-size: 30px;
  color: #A0A0A0;
  font-weight: 400;
  margin-left: 25px
}

.appBarSubTitle {
  color: #A0A0A0;
  font-weight: 400;
  margin-left: 25px
}

@media (min-width: 768px) {
  .visible-md{
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .center-content{
    padding: 16px 16px 0 16px;
    position: relative;
  }
  .sidebar-content{
    float: left;
    width: 6%;
  }
  .main-content{
    width: 100%;
    float: right;
    background-color: #F8F8F8;
    flex: 1;
  }
  .inner-content {
    margin: 30px;
    background-color: white;
    display: flex;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
}
